/* RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #dcdee1 0%, #e3e9ef 100%);
    color: #333;
}

.subtitulo{
    margin-top: 5vh;
}

.opciones{
    margin-top: 5vh;
}

.float:hover{
    background-color: #0056b3;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    color: #333;
    margin-top: 5vh;
}

.opciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
}

.question{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    backdrop-filter: blur(12px);
    transition: 0.3s ease;
    color: #333;
}

.question:hover{
    transform: translateY(-4px);
    border-color: #38bdf8;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.buttons {
    margin-top: 1rem;
}

.buttons .inner {
    display: flex;
    justify-content: space-between;
}

.siguiente {
    position: fixed; 
    bottom: 1rem; 
    right: 1rem; 
    z-index: 1000; 
    padding: 0.5rem 1rem; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 0.25rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
}

.siguiente:hover {
    background-color: #0056b3;
}

